<h4>About</h4>
Ricardo Santos is a <br>graphic designer <br>and illustrator <br>from Lisbon, Portugal.
<br><br>
He works at <br><a class="sidebar-a" href="https://dat-rs.com">Office Santos</a><br> <br>and collects <br>graphic design history <br>at <a class="sidebar-a" href="soldesignarchive.com">Sol Design Archive</a>.

<br><br>

This blog is published in Portuguese and English.
<br><br>
The typefaces are <br><br><a class="sidebar-a" href="https://typekiosk.smuss.studio/bureau-serif">STK Bureau Serif</a>, designed by William Stormdal <br><br>and <a class="sidebar-a" href="https://felicianotype.com/typefaces/marcin-antique/">Marcin Antique</a>, designed by <br> Mário Feliciano.